:root {
    --bg-main: #FDFDFD;
    --dark: #3A261D;
    --light: #998E89;
    --p-light: #FFF5F0;
    --accent: #C16631;
    --accent-hover: #E77B3D;
    --placeholder: #C0B8B4;
    --border: #E1DEDD;
    --pink: #F5A4ED;
    --yellow: #F3E089;
    --violet: #C384F4;
    --white: #fff;
}